@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');


body{
    background-color: #ffffff;
    font-family: 'Space Grotesk', 'sans-serif';
}

h1{
    color: #000000;
    margin-top: 5px; 
    font-size: 36px;
    margin-left: 5px;
    margin-top: 18px;
    margin-bottom: 20px;
}

h2{
    color: #000000;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: justify;
}

.card_header {
    color: #000000;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: justify;
}

.header img {
    text-align: center;
    position: relative;
    float: left;
    height: 50px;
}

/* Ensure the card and plotly container fill available height */
.plotly-center-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    min-height: 850px;      /* Optional: minimum height for visibility */
    overflow: hidden;       /* Prevent overflow */
}

.plotly-center-container > * { /* Ensure children fill the container */
    width: 100% !important;
    margin-top: 0 !important; 
}

.center-control-content {
    display: flex;
    flex-direction: column;
    align-items: center;      /* Center horizontally */
    justify-content: center;  /* Center vertically if you want */
    width: 100%;
    gap: 10px;                /* Optional: space between slider and text */
}
