@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');


body{
    background-color: #708090;
    font-family: 'Space Grotesk', 'sans-serif';
}

h1{
    color: #000000;
    margin-top: 0px; 
    font-size: 36px;
    margin-left: 0px;
}

h2{
    color: #000000;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: justify;
}

.header {
    margin-top: 18px;
    margin-bottom: 75px;
    background-color: aliceblue;
}

.header img {
    text-align: center;
    position: relative;
    float: left;
    height: 50px;
}
  
.header h1 {
    position: relative;
    left: 10px;
}

