@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

.dashboard {
    width: 1900px;
    height: 1600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #010103;
    border: 1px solid #fafafa;
    border-radius: 10px;
}

body{
    background-color: #708090;
    font-family: 'Space Grotesk', 'sans-serif';
}

h1{
    color: #ffffff; 
    font-size: 35px;
    margin: 15px;
}

h2{
    color: #ffffff;
    font-size: 28px;
    margin: 15px;
    text-align: justify;
}

p{
    color: #ffffff;
    font-size: 16px;
    margin: 15px;
    text-align: justify;
}


